body{
    margin: 0;
    padding: 0;
    background-color:rgb(219, 110, 110);
}
.container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
header{
    text-align: center;
    background-color: blue;
    color: white;
}
.content{
    padding: 10px;
}

nav{
    width: 180px;
    float: left;
    background: blue;
    width: 100%;
}

.main{
    width: 600px;
    float: right;    
}

footer{
    clear: both;

}

