@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
body{
    margin: 0px;
    padding:0;
    font-family: 'Montserrat';
}

ul{
    list-style-type: none;
    margin: 15px;
    padding: 0;
    font-weight: 900;
}

.logo{
    width: 250px;
}

header{
    display: flex;
    justify-content: space-between;
}

nav ul li {
    float: left;
    margin: 15px;
}

nav ul li a{
  color: #fff;
  background-color: inherit;
  text-align: right;
  padding:  1em 2em;
  text-decoration: none;
  width: 40%;
  margin: 15px;
  display: run-in;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

nav ul li a:hover{
    background: rgba(248,255,255, 0.2);
    color: #fff;
}

nav ul{
    position: inherit;
    width: auto;
    background: none;
    display: flex;
    height: auto;
    padding-top: 0;
}

nav ul li {
    float: left;
}
.container{
    background-color: #2E3191; 
}
